# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build outputs
frontend/build/
frontend/dist/

# IDE config
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Backend environment
backend/.env

# Frontend environment
frontend/.env

# Misc
*.swp
*~
